<div class="funbox">
	<h1>Magical No Refresh Oauth</h1>
	<div class="details"></div>
	<p>
		<button id="twitbutt">Do it up with Tweeter</button>
	</p>
	<p>
		<button  id="facebutt">Do it up with F-Book</button>
	</p>
</div>

